<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a href="http://localhost:8080/speedy">Back to home</a><!-- comment -->
        <a href="http://localhost:8080/speedy/cycling">Street Race</a>
        <img src="https://i.pinimg.com/736x/d5/a5/b3/d5a5b39cfbb979f050a47c59981e1754.jpg" width="100"  ALT="By PublicDomainPictures.net(used as logo)">
        
            <p Align = center>
    
        <img src="        https://cdn.discordapp.com/attachments/764730048464683019/1210701956222423040/IMG_0492.jpg?ex=65eb8510&is=65d91010&hm=c90a82f2787af74db189e8cf9f28de20e1df2257fca0c146e31dfdb45bd22a19&" width="300" border="5"  ALT="By Justin Evans" aligh="center">

    </p>
        
        
        <h1 align="center">Contact Us!</h1>
        <p align="center">
            Interested in upping your cycling game to the next level?<br>
            You can call or come to our store at 1234 Real Street to look into a
            speedy future with our bikes! The stores phone number is 1800-get-bike.
        </p>
    </body>
</html>
