<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a href="http://localhost:8080/speedy">Back to home</a><!-- comment -->
        <a href="http://localhost:8080/speedy/cycling">Street Race</a>
        
        
        <h1>Contact Us!</h1>
        <p>
            Interested in upping your cycling game to the next level?<br>
            You can call or come to our store at 1234 Real Street to look into a
            speedy future with our bikes! The stores phone number is 1800-get-bike.
        </p>
    </body>
</html>
