<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Quarterly Speedy Cycles Street Race</title>
        <style>
        h1 {text-align: center;}

	body {
    	background: darkGray
        
        margin-bottom: 125px;
        margin-right: 140px;
        margin-left: 140px;
    
    }


</style>
        
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a href="http://localhost:8080/speedy">Back to Home</a><!-- comment -->
        <a href="http://localhost:8080/speedy/contact">Contact Us</a>
        
        
    <h1>Quarterly Speedy Cycles Street Race<br></h1>
    
    <p>
        The quarterly Speedy Cycles Street Race is an event held 4 times a year 
        to get people of all demographics and ages together to all participate 
        in something they will never forget. The race last several hours and has
        prizes for the top contestants in each of the age categories. The profits 
        from admissions to the race all go to a variety of charities helping those in need.
    </p>
    
    
    </body>
</html>
